.txt_center {
    text-align: center;
}
.txt_left {
    text-align: left;
}
.txt_right {
    text-align: right;
}
.title01 {
    margin: 0 $layout-base-padding $layout-large-padding;
    font-size: $title-font-size;
    font-weight: 900;
    color: $bold-font-color;
    
    .emph {
        color: $main-bold-font-color;
    }
}
.title02 {
    font-size: $large-font-size;
    font-weight: bold;
    color: $bold-font-color;
}
.title03 {
    padding: 0 $layout-base-padding;
    margin-bottom: $layout-base-padding;
    font-size: $title-font-size;
    font-weight: 900;
    color: $bold-font-color;
}
.title04 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $layout-base-padding;
    height: 40px;
    border-bottom: $light-border;

    .tit {
        font-size: $large-font-size;
        font-weight: bold;
        color: $base-font-color;
    }
    .tit_sub01 {
        font-size: $base-font-size;
        color: $main-font-color;
    }
}
.sub_title01 {
    padding-left: $layout-small-padding;
    margin: 0 $layout-base-padding;
    border-left: $base-border;
    font-size: $mid-font-size;
    color: $base-font-color;
    line-height: $base-line-height;

    .emph01 {
        font-size: 1.076em;
        font-weight: bold;
        color: $main-bold-font-color;
    }
    .emph02 {
        font-weight: bold;
    }
}
.paragraph01 {
    font-size: $base-font-size;
    color: $base-font-color;
    line-height: $base-line-height;
}