.post_content_wrap {
    flex: 1;

    .post_content_title_container {
        padding: $layout-base-padding;

    }
    .post_content_title {
        border-bottom: $light-border;
        font-size: $large-font-size;
        font-weight: bold;
        color: $base-font-color;
    }
}