.post_list01 {
    padding: 0 $layout-base-padding;    

    .post_item {
        padding: $layout-base-padding 0;
    }
    .post_date {
        margin-bottom: $layout-small-padding;
        font-size: $small-font-size;
        color: $light-font-color;
    }
    .post_title {
        font-size: $base-font-size;
        color: $bold-font-color;
        line-height: $base-line-height;

        .icon_new {

        }
    }
}