.post_content_wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.post_content_title_container {
    padding: $layout-base-padding;
    border-bottom: $light-border;
   
    .post_content_title {
        font-size: $large-font-size;
        line-height: $base-line-height;
        font-weight: bold;
        color: $base-font-color;
    }
    .post_content_date {
        margin-top: $layout-small-padding;
        font-size: $small-font-size;
        color: $light-font-color;
    }
}
.post_content_article {
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;
    font-size: $mid-font-size;
    line-height: $mid-line-height;
    color: $base-font-color;
}
.post_content_link_container {
    flex: 1;
    margin-top: $layout-base-padding;
    background-color: $gray-0;

    .post_content_link_box {

        .post_content_link {
            display: flex;
            align-items: center;
        }
        .icon_box {
            width: 24px;
            height: 24px;

            .img {
                width: 100%;
                height: 100%;
            }
        }
        .
    
    }
}