.tag_list01 {
    
    .tag_item {
        width: fit-content;
        float: left;

        .btn {
            margin: 0 4px;
        }
        .btn:first-child {
            margin-left: $layout-base-padding;
        }
        .btn:last-child {
            margin-right: $layout-base-padding;
        }

        &.active .btn {
            font-weight: bold;
            background-color: lighten($secondary-color, 16.8%);
            border-color: $secondary-color;
        }
    }
}