.category_wrap {
    background-color: $gray-0;

    .title08 {
        padding: $layout-large-padding $layout-base-padding 0;
    }
}

.special_wrap {
    flex: 1;
    background-color: $gray-0;

    .title08 {
        padding: $layout-large-padding $layout-base-padding 0;
    }
}