.shop_shortcut_box {
    position: fixed;
    bottom: $layout-base-padding;
    width: 100%;
    text-align: center;
    
    .btn {
        font-weight: bold;
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }
}
.shop_item_info_container {
    position: fixed;
    @include layout-frame;
    box-sizing: border-box;
    top: $header-height04;
    z-index: 500;
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    transition: padding .4s;

    .shop_item_info_box {
        display: flex;
        align-items: center;
    }
    .shop_item_thum {
        width: 126px;
        height: 126px;
        border-radius: $base-border-radius;
        margin-right: $layout-small-padding;
        @include thumnail;
        
        transition: all .4s;
    }
    .shop_item_info_txt_box {
        flex: 1;
        position: relative;
    }
    .item_name,
    .item_discount,
    .item_price {
        display: block;
    }
    .item_name {
        font-size: $base-font-size;
        color: $bold-font-color;
        @include multi-line-ellipsis($base-line-height,2);
        height: auto;
        max-height: $base-line-height * 2;
    }
    .item_discount {
        min-height: 1em;
        margin-top: $layout-small-padding;
        font-size: $base-font-size;
        color: $accent-font-color;
        font-weight: bold;
    }
    .item_price {
        margin-top: 4px;
        font-size: $title-font-size;
        color: $bold-font-color;
        font-weight: bold;
    }
    .item_before_origin_price {
        font-weight: normal;
        font-size: $base-font-size;
        color: $light-font-color;
        text-decoration: line-through;
    }
    .item_bookmark_box {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.shop_item_info_container.scroll {
    padding: $layout-base-padding;

    .shop_item_thum {
        width: 104px;
        height: 104px;
    }
}
.bubble_graph_container {
    margin: $layout-base-padding 0;
    background-color: $gray-0;

    .keyword_bubble_graph_box {
        padding: $layout-base-padding $layout-base-padding $layout-large-padding;
    }
    .bubble_keyword_txt_box {
        margin-top: $layout-base-padding;
        text-align: center;
        font-size: $base-font-size;
        color: $base-font-color;

        .keyword {
            font-weight: bold;
            color: $main-font-color;
        }
    }
}
.shop_items_container {
    background-color: $gray-0;
}