.shop_shortcut_box {
    position: fixed;
    bottom: $layout-base-padding;
    width: 100%;
    text-align: center;
    
    .btn {
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    }
}
.shop_item_info_container {
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;

    .shop_item_info_box {
        display: flex;
        align-items: center;
    }
    .shop_item_thum {
        
    }
}