.info_access_wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .info_access_container {
        flex: 1;
        overflow-y: auto;
    }
    .info_access_title_box {
        display: flex;
        align-items: center;
        margin: $layout-base-padding $layout-base-padding 0;
        padding: $layout-base-padding $layout-small-padding;
        border-bottom: $light_border;
        word-break: keep-all;

        .title08 {
            margin-bottom: $layout-small-padding;
        }
    }
    .logo_box {
        flex-shrink: 0;
        width: 56px;
        margin-right: $layout-base-padding;
        font-size: 0;

        .img {
            width: 100%;
            font-size: 10px;
        }
    }
    .info_access_box {
        margin: $layout-base-padding;
    }
    .info_access_icon_box {
        display: flex;
    }
    .btn_box {
        padding: $layout-base-padding;
        margin-top: auto;
    }
}