.members_contianer {
    min-height: calc(100vh - 45px);
    padding: 0 $layout-base-padding*2;
    background-color: #fff;

    .members_logo {
        height: 48px;
        padding-top: $layout-large-padding;

        .img {
            height: 100%;
            object-fit: contain;
        }
    }
    .members_form_contianer {
        margin-top: $layout-base-padding * 2;
        padding-bottom: $layout-base-padding;
        border-bottom: $light-border;
    }
    .inp_box03 {
        margin-bottom: $layout-base-padding;
    }
    .btn_box {
        margin-top: $layout-large-padding;
    }
    .members_link_box {
        margin-top: $layout-base-padding;
    }
    .members_link {
        font-size: $mid-font-size;
        color: $light-font-color;
        margin: 0 4px;
    }
    .sns_login_box {
        margin-top: $layout-base-padding;
    }
    .join_title {
        font-size: $large-font-size;
        color: $bold-font-color;
    }
    .join_subtitle {
        margin-top: $layout-small-padding;
        font-size: $mid-font-size;
        color: $base-font-color;
    }
    .sns_login_title {
        font-size: $mid-font-size;
        color: $light-font-color;
    }
    .sns_login_btn_box {
        margin-top: $layout-base-padding;
        text-align: center;
        font-size: 0;
    }
    .sns_login_btn {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin: 0 $layout-small-padding;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 10px;
        border-radius: $base-border-radius;

        .img {
            width: 100%;
        }
    }
    .sns_naver {
        background-color: #1ec700;
    }
    .sns_facebook {
        background-color: #1777f1;
    }
    .sns_kakao {
        background-color: #f9e200;
    }
    .sns_google {
        border: $light-border;
    }
}