.members_contianer {
    min-height: calc(100vh - $header-height03);
    padding: 0 $layout-base-padding*2;
    background-color: #fff;

    .members_logo {
        height: 48px;
        padding-top: $layout-large-padding;

        .img {
            height: 100%;
            object-fit: contain;
        }
    }
    .members_form_contianer {
        margin-top: $layout-base-padding * 2;
        padding-bottom: $layout-base-padding;
        border-bottom: $light-border;
    }
    .inp_box03 {
        margin-bottom: $layout-base-padding;
    }
    .btn_box {
        margin-top: $layout-large-padding;
    }
    .members_link_box {
        margin-top: $layout-base-padding;
    }
    .members_link {
        font-size: $mid-font-size;
        color: $light-font-color;
        margin: 0 4px;
    }
    .sns_login_box {
        margin-top: $layout-base-padding;
    }
    .sns_login_title {
        font-size: $mid-font-size;
        color: $light-font-color;
    }
    .sns_login_btn_box {
        text-align: center;
        font-size: 0;
    }
    .sns_login_btn {
        width: 48px;
        height: 48px;
        font-size: 10px;

        .img {
            width: 100%;
        }
    }
}