.my_profile {
    padding: $layout-large-padding $layout-base-padding;

    .my_profile_container {
        display: flex;

    }
    .thumb_box {
        flex-shrink: 0;
        margin-right: $layout-small-padding;
        @include circle(56px);
        overflow: hidden;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .txt_box {
        flex: 1;
    }
    .user_mail {
        font-size: $small-font-size;
        color: $light-font-color;
    }
    .user_nick {
        font-size: $large-font-size;
    }
}