.complain_container{
    flex: 1;
    background-color: $gray-0;
    padding: $layout-large-padding 0;

    .title08 {
        margin: 0 $layout-base-padding $layout-base-padding;
    }
}
.complain_announce_container {
    padding: $layout-base-padding;
    border-top: $light-border;
    border-bottom: $light-border;

    .complain_announce_txt {
        margin-top: 12px;
        font-size: $base-font-size;
        color: $base-font-color;
        line-height: $base-line-height;
    }
    .btn_box {
        margin-top: $layout-base-padding;
    }
}
.complain_list_container {

    .complain_box {
        border-bottom: $light-border;
    }
    .complain_title_box {
        display: flex;
        padding: $layout-base-padding;
    }
    .complain_title_txt_box {
        flex: 1;
    }
    .complain_title {
        font-size: $base-font-size;
        color: $bold-font-color;

        .tag {
            width: 64px;
            height: 21px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: middle;
            font-size: $small-font-size;

            &_wait {
                border: $light-border;
                color: $base-font-color;
            }
        }
    }
    .btn_accordion {
        width: 24px;
        height: 24px;
    }
}