.top_order_number_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $layout-base-padding;
    height: 40px;
    background-color: $gray-0;

    .order_number {
        font-size: $small-font-size;
        color: $base-font-color;
    }
    .btn_copy_order_number {
        font-size: $base-font-size;
    }
}
.order_history_container {
    margin-top: $layout-small-padding;
    background-color: $gray-0;
}
.order_history_login_container {
    padding-top: $layout-large-padding;
}
.order_history_login_announce {

    .logo_order_shop {
        margin: 0 auto $layout-base-padding;
        overflow: hidden;
        @include circle(64px);

        .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .order_login_announce_txt01 {
        font-size: $large-font-size;
        color: $base-font-color;
    }
    .order_login_announce_txt02 {
        margin-top: $layout-small-padding;
        font-size: $base-font-size;
        color: $light-font-color;
        line-height: $base-line-height;
    }
}
.order_history_login_form {
    padding: 0 $layout-base-padding * 2;

    .inp_box02 {
        margin: $layout-base-padding 0;
    }
    .inp_box04{ 
        margin-top: ;
        .lab_checkbox02 {
            font-size: $base-font-size;
        }
    }
}