.top_order_number_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $layout-base-padding;
    height: 40px;
    background-color: $gray-0;

    .order_number {
        font-size: $small-font-size;
        color: $base-font-color;
    }
    .btn_copy_order_number {
        font-size: $base-font-size;
    }
}
.order_history_container {
    margin-top: $layout-small-padding;
    background-color: $gray-0;
}
.order_history_login_container {
    padding-top: $layout-large-padding;
}
.order_history_login_announce {

    .logo_order_shop {
        margin: 0 auto;
        overflow: hidden;
        @include circle(64px);

        .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}