.top_order_number_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $layout-base-padding;
    height: 40px;
    background-color: $gray-0;

    .order_number {
        font-size: $small-font-size;
        color: $base-font-color;
    }
    .btn_copy_order_number {
        font-size: $base-font-size;
    }
}