.pick_title_box {
    display: flex;
    padding: $layout-large-padding $layout-base-padding $layout-base-padding;

    .pick_title_btn_box {
        font-size: 0;
    }
    .btn_pick {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: $layout-small-padding;
        font-size: 10px;

    }
}