.pick_title_box {
    display: flex;
    align-items: center;
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;

    .pick_title_btn_box {
        font-size: 0;
    }
    .btn_pick {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: $layout-base-padding;
        font-size: 10px;

    }
}
.pick_items_wrap {
    flex: 1;
    background-color: $gray-0;

    .title07 {
        margin: 0 $layout-base-padding $layout-base-padding;
    }
    .items_wrap {
        padding-bottom: $layout-large-padding;
    }
}
.pick_edit_items_wrap {
    padding-top: $layout-large-padding;
}