.review_user_profile_wrap {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 720px;
    z-index: 600;
}
.review_user_profile_container {
    display: flex;
    align-items: flex-start;
    padding: $layout-large-padding $layout-base-padding;
    background-color: $gray-0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .profile_thum {
        @include circle(65px);
        border: $light-border;
        box-sizing: border-box;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: auto;
    }
    .profile_txt_box {
        flex: 1;
        margin: 0 $layout-small-padding;
    }
    .user_id {
        margin-bottom: $layout-small-padding;
        font-size: $base-font-size;
        font-weight: bold;
        color: $bold-font-color;
    }
    .user_features {
        margin-bottom: $layout-small-padding;
        font-size: $mid-font-size;
        color: $light-font-color;
        line-height: $base-line-height;
    }
    .user_review_num {
        font-size: $base-font-size;
        color: $base-font-color;

        .num {
            color: $main-bold-font-color;
            font-weight: bold;
        }
    }
    .btn_user_heart {
        flex-shrink: 0;
        margin-left: auto;

        .icon {
            vertical-align: middle;
        }
    }
}
.top_msg01 {
    padding: 0 $layout-base-padding;
    height: 2.25em;
    background-color: $main-color;

    .btn {
        color: $gray-0;
        font-size: $base-font-size;
    }
}
.review_write_item_container {
    display: flex;
    align-items: center;
    background-color: $gray-0;
    padding: $layout-large-padding $layout-base-padding;
    margin-bottom: $layout-base-padding;

    .review_item_thum {
        flex-shrink: 0;
        margin-right: $layout-small-padding;
        width: 104px;
        height: 104px;
        border-radius: $base-border-radius;
        @include thumnail;
    }
    .review_item_shop {
        font-size: $small-font-size;
        color: $light-font-color;
        margin-bottom: $layout-small-padding;
    }
    .review_item_name {
        font-size: $base-font-size;
        color: $base-font-color;
        line-height: $base-line-height;
        margin-bottom: $layout-small-padding;
    }
}
.review_example_container {
    padding: $layout-large-padding $layout-base-padding;
   
    .paragraph01 {
        margin: $layout-base-padding 0;
    }
    .review_example_list {
        display: flex;
        justify-content: center;
        margin: $layout-base-padding 0;
    }
    .review_example_item {
        width: 22.2222%;
        margin: 0 $layout-small-padding;

        .img_box {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            border-radius: $base-border-radius;

            @include thumnail;
        }
    }
    .review_example_txt {
        margin-top: $layout-small-padding;
        text-align: center;
        font-size: $mid-font-size;
        color: $base-font-color;
    }
    .review_example_noti {
        font-size: $small-font-size;
        color: $base-font-color;
        line-height: $base-line-height;
        word-break: keep-all;
    }
}
.review_write_inp_wrap {
    background-color: $gray-0;
}
.inp_review_stars_container {
    text-align: center;

    .stars_contianer {
        margin-top: 12px;
    }
    .star {
        display: inline-block;
        width: 20px;
        margin: 0 4px;

        &.star_off .star_full {
            display: none;
        }
    }
}