.search_word_container {
    padding-top: $layout-base-padding * 2;

    .title_box {
        display: flex;
        justify-content: space-between;
        padding: 0 $layout-base-padding;
        margin-bottom: $layout-base-padding;
    }
    .title_search {
        font-size: $base-font-size;
        font-weight: bold;
        color: $base-font-color;

        .emph {
            color: $main-bold-font-color;
        }
    }
    .btn_del {
        font-size: $mid-font-size;
        color: $light-font-color;
    }
    .search_word {
        display: inline-block;
        width: fit-content;
    }
}
.search_word_container01 {
    .search_word_list {
        padding-left: $layout-base-padding;
        height: $layout-base-padding * 2;
    }
    .swiper-container:before,
    .swiper-container:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: $layout-base-padding;
        height: $layout-base-padding*2;
        background-color: #fff;
        z-index: 100;
    }
    .swiper-container:before {
        left: 0;
        background: rgb(245,244,247);
        background: linear-gradient(90deg, rgba(245,244,247,1) 25%, rgba(245,244,247,0) 100%);
    }
    .swiper-container:after {
        right: 0;
        background: rgb(245,244,247);
        background: linear-gradient(90deg, rgba(245,244,247,0) 0%, rgba(245,244,247,1) 75%);
    }
}
.search_word_container02 {
    .search_word_list {
        padding: 0 $layout-base-padding;
        font-size: 0;
    }
    .search_word {
        margin-right: $layout-small-padding;
        margin-bottom: $layout-small-padding;
    }
}
//search_result
.sect_filter_cate {

    .filter_btn {
        width: fit-content;
    }
}
.search_result_top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $layout-base-padding*3;
    border-bottom: $light-border;

    .filter_info {
        height: 100%;
        line-height: $layout-base-padding*3;
        font-size: $mid-font-size;
        padding-left: $layout-base-padding;
        
        .icon {
            width: 1.1em;
            vertical-align: middle;
        }
    }
    .select_sort_box {
        min-width: 100px;
        height: 100%;
        border-left: $light-border;
        padding: 0 $layout-small-padding;

    }
    .select_sort {
        width: 100%;
        height: 100%;
        border: none;
    }
}
.search_result_items {
    padding: $layout-large-padding 0;
}
.popup_filter_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 66%;
    bottom: -100%;
    left: 0;
    background-color: $gray-0;
    border-radius: $large-border-radius $large-border-radius 0 0;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    transition: bottom 0.4s ease-in;

    &.show {
        bottom: 0;
    }

    .popup_top_bar {
        height: 65px;
        box-sizing: border-box;
        padding: $layout-large-padding $layout-base-padding;

        .btn_tab {
            margin-right: $layout-small-padding;
            font-size: $large-font-size;
            color: $light-font-color;
        }
        .btn_tab.active {
            color: $main-font-color;
            font-weight: bold;
        }
    }
    .popup_main {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .popup_bottom {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $layout-base-padding;
        border-top: $light-border;

        .btn_refresh {
            font-size: $large-font-size;
            color: $base-font-color;
        }
    }
    .tab_panel {
        display: none;
    }
    .tab_panel.show {
        display: block;
    }
}

.filter_price_container {

    .top_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $layout-base-padding;
        margin-bottom: $layout-large-padding;
    }
    .price_range_txt {
        font-size: 20px;
    }
    .price {
        font-weight: 900;
    }
    .btn_filter_info {
        font-size: 0;

        .icon {
            width: $large-font-size;
            font-size: 12px;
        }
    }
}

.filter_cate_container {


// 
    .filter_all_item {
        padding: 13px $layout-base-padding;
        border-bottom: $light-border;
        background-color: $bg-gray-color;
        font-size: $base-font-size;
        font-weight: bold;
        color: $bold-font-color;
    }
    .filter_item_num {
        margin-left: 4px;
        font-size: $small-font-size;
        font-weight: normal;
        color: $light-font-color;
    }
    .filter_accordion_cate_big {
        
        .lab_checkbox {
            font-size: $base-font-size;
            font-weight: bold;
            color: $base-font-color;
        }
    }
    .filter_accordion_list_small {
        display: none;
    }
// 
    .filter_cate_header {
        padding: 13px $layout-base-padding;
        border-bottom: $light-border;
        background-color: $bg-gray-color;
        font-size: $base-font-size;
        font-weight: bold;
        color: $bold-font-color;
    }
    .filter_item_num {
        margin-left: 4px;
        font-size: $small-font-size;
        font-weight: normal;
        color: $light-font-color;
    }
    .filter_cate_big {
        padding: 16px $layout-base-padding;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            height: 1px;
            background-color: $gray-1;
        }
    }
    .btn_filter_cate_big {
        display: block;
        font-size: $base-font-size;
        font-weight: bold;
        color: $base-font-color;
    }
}
