.store_list_hash {
    padding: $layout-base-padding;
    background-color: $gray-0;

    .title_hash {
        margin-bottom: $layout-small-padding;
        font-size: $mid-font-size;
        color: $light-font-color;
    }
}