.popup_wrap {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 720px;
    height: 100%;
    top: 0;
    z-index: 900;
    background-color: rgba(0,0,0,0.5);

    &.show {
        display: block;
    }
    .popup_center {
        @include position-center(absolute);
    }
}
.popup_container {
    display: none;
    padding: $layout-base-padding $layout-small-padding $layout-small-padding;
    border-radius: $base-border-radius;
    background-color: $gray-0;
    min-width: 75%;
    max-width: 90%;
    
    &.show {
        display: block;
    }
    .popup_txt_box {
        padding: $layout-small-padding $layout-small-padding 0;
    
        .popup_txt_title {
            margin-bottom: $layout-base-padding;
            font-size: $title-font-size;
            font-weight: bold;
            color: $bold-font-color;
        }
        .popup_txt_main {
            margin-bottom: $layout-small-padding;
            font-size: $large-font-size;
            color: $bold-font-color;
        }
        .popup_txt_sub {
            font-size: $base-font-size;
            color: $base-font-color;
            margin-top: $layout-small-padding;
            line-height: $base-line-height;
        }
    }
    .popup_btn_box {
        margin-top: $layout-base-padding;
    
        .btn:not(:first-child) {
            margin-top: $layout-small-padding;
        }
    }
}
.popup_container02 {
    display: none;
    flex-direction: column;
    background-color: $gray-0;
    width: 90%;
    max-height: 90%;
    max-width: 600px;
    
    &.show {
        display: flex;
    }
    
    .popup_head {
        flex-shrink: 0;
        background-color: $secondary-color;
        height: $header-height03;
        line-height: $header-height03;
        color: $base-font-color;
        font-size: $large-font-size;
        font-weight: bold;
    }
    .popup_txt_box {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .popup_txt01 {
        padding: $layout-large-padding $layout-base-padding;
        font-size: $mid-font-size;
        line-height: $base-line-height;
        background-color: $bg-gray-color;
        color: $base-font-color;
        word-break: keep-all;
    }
    .popup_txt02 {
        margin: $layout-large-padding $layout-base-padding;
        font-size: $mid-font-size;
        line-height: $base-line-height;
        color: $light-font-color;
        word-break: keep-all;
    }
    .popup_txt_list {
        margin: $layout-large-padding $layout-base-padding;
    }
    .popup_txt_item {
        display: flex;
        font-size: $mid-font-size;
        line-height: $narrow-line-height;
        color: $base-font-color;
        margin: $layout-small-padding 0;

        .num {
            display: inline-block;
            width: 20px;
            flex-shrink: 0;
            text-align: right;
            font-weight: bold;
            margin-right: 4px;
        }
        .txt {
            flex: 1;
            word-break: keep-all;
        }
    }
    .popup_btn_box {
    
        .btn_close {
            border-radius: 0;
            border-bottom: none;
            border-right: none;
            border-left: none;
            font-weight: bold;
        }
        .btn:not(:first-child) {
            margin-top: $layout-small-padding;
        }
    }
}
.popup_container03 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: calc(100% - 45px);
    background-color: $gray-0;
    border-radius: $large-border-radius $large-border-radius 0 0;
    transition: top .4s;

    &.show {
        top: 45px;
    }
    .popup_head {
        height: 45px;
    }
    .popup_title {
        font-size: $large-font-size;
        color: $bold-font-color;

        .icon {
            width: 1.2em;
        }
    }
}