.swiper-pagination {

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 $layout-small-padding;
}

.pagination_main {
    
    .swiper-pagination-bullet-active {
        background-color: $main-color;
    }
}
.swiper-pagination {font-size: 0;}

.items_wrap.swiper-container {
    padding: 0 $layout-base-padding 10px;
}