.toast_box {
    position: fixed;
    bottom: $gnb-bottom-height + $layout-small-padding;
    left: $layout-base-padding;
    right: $layout-base-padding;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    font-size: $base-font-size;

}